# Игнор-лист файлов проекта
# ---- ДИРЕКТОРИИ ----
# Игнорирование всех файлов и папок в ЛЮБЫХ директориях с указанным именем
**/log*
**/*pycache*
*.idea*
*.DS_Store*

# ---- ФАЙЛЫ ----
# Игнорирование по типу файла, будут игнорироваться в АБСОЛЮТНО всех директориях
*.swp
*.log
*.mp4

